.expandButton {
    background: transparent;
    border: 0;
    color: #f1f1f1;
}

.tr {

    background-color: #2f63b3;
    border-bottom: 1px solid #ffffff1a;
}

.tr:hover {

    background-color: #1d5eb3;
}


.tableData {
    color: #f1f1f1;
    font-size: 14px;
    vertical-align: middle;
    border-right: 1px solid #ffffff1a;
    text-align: center;
}

.tr:nth-child(odd) {

    background-color: #3e6db5;
}

.tr:hover:nth-child(odd) {

    background-color: #356abc;
}

.white .tr:nth-child(odd) {

    background-color: #e0e0e0;
}

.white .tr:hover:nth-child(odd) {

    background-color: #356abc;
}


.tr .headerColumn {
    color:#fff;
    font-size: 18px;
    vertical-align: middle;
    padding: 5px;
    white-space: nowrap;
}

.tr:nth-child(odd) .headerColumn {
    /*background-color: #164894;*/

}

