body {
    background-color: #fff;
    background-color: #1d3861;
    font-family: 'Nanum Gothic', sans-serif;
}

* {

}

.wrapper {
    width: 100%;
}

.contents {
    width: 1280px;
    margin: auto;
}

.header {
    padding: 10px;
    color:#fff;
}

.menus {
    float:right;
}

footer {
    color:#fff;
    font-size: 11px;
    text-align:center;
    padding: 20px;
}

.wrapper.white footer {
    color:#333;
}